* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-background: #182026;
    --button-text-color: #182026;
    --text-color: #e1dfc5;
    --main-button-color: #d9763d;
    --game-button-color: #a0a603;
    --game-button-hover: #bfba73;
    --dropdown-background: #364c59;
    --card-color: #a65233;
    --main-button-hover: #f2aa52;
}

body {
    background-color: var(--main-background);
}

main {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    height: 100vh;
}

.title {
    font-family: fredericka-the-greatest, serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 25px;
    margin-bottom: 15px;
    height: 20px;
    text-align: left;
}

.intro {
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--text-color);
    grid-column-start: 2;
    grid-row-start: 3;
    margin: auto;
    text-align: justify;
}

.intro.homepage {
    grid-row-start: span 2;
}

.homepage-buttons {
    grid-column-start: 2;
    grid-row-start: 6;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.homepage-buttons button {
    margin-bottom: 10px;
}

button {
    background-color: var(--main-button-color);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--button-text-color);
}

button a {
    text-decoration: none;
    color: var(--button-text-color);
}

button:hover {
    background-color: var(--main-button-hover);
}

.button {
    grid-column-start: 2;
    margin: auto;
}

.start-game {
    background-color: var(--game-button-color);
    color: var(--button-text-color);
}

.start-game:hover {
    background-color: var(--game-button-hover);
    color: var(--button-text-color);
}

.drink-icon {
    grid-column-start: 2;
    margin: auto;
    height: 70px;
}

.drink-icon.icon1 {
    grid-row-start: 5;
}

.drink-icon.icon2 {
    grid-row-start: 7;
}


/*** Header ***/

.menu-list li a {
    text-decoration: none;
    color: var(--text-color);
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
}

.menu-list li:hover {
    background-color: var(--main-background);
}

.menu-list li {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.menu {
    background-color: var(--dropdown-background);
    height: 235px;
    width: 100%;
    position: absolute;
    top: -235px;
    overflow: hidden;
    transition: 0.5s ease;
    z-index: 2;
}

.menu-list {
    display: block;
    text-align: center;
    margin-top: 2.5rem;
}

.active {
    transform: translateY(235px);
    transition: 0.5s;
}


/*** Hamburger Animation ***/

.hamburger-menu {
    background-color: transparent;
    height: 40px;
    width: 40px;
    position: absolute;
    top: -25px;
    right: 10px;
    cursor: pointer;
    z-index: 5;
    display: flex;
}

.hamburger-menu:hover {
    background-color: transparent;
}

.hamburger-line {
    fill: none;
    stroke: var(--text-color);
    stroke-width: 6;
    transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}


/*** Cocktail generator ***/

.drink-information {
    grid-column-start: 2;
    grid-row-start: 7;
    grid-row-end: 8;
    margin: auto;
    width: 100%;
    height: 340px;
}

.drink-ingredient {
    color: var(--text-color);
    display: block;
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
}

#drink-name {
    color: var(--text-color);
    font-family: fredericka-the-greatest, serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 0.5rem;
    text-align: center;
}

#drink-recipe {
    color: var(--text-color);
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-bottom: 20px;
}

#cocktail-image {
    width: 100%;
}

#ingredient-title {
    color: var(--text-color);
    display: block;
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
}

#ingredient-description {
    color: var(--text-color);
    display: block;
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
}


/*** Style Cocktail generator ***/

#generator {
    grid-row-start: 5;
}

#library {
    grid-row-start: 9;
}


/*** Style Game Site ***/

.drink-icon.bomb-icon {
    height: 150px;
    grid-row-start: 5;
}

.button.start-game {
    grid-row-start: 7;
    grid-row-start: 9;
}


/*** Style Game Site ***/

.drink-icon.bomb-icon {
    height: 150px;
    grid-row-start: 5;
}

.button.start-game {
    grid-row-start: 7;
}


/*** Cocktail library ***/

.form-control {
    grid-column-start: 2;
    grid-row-start: 5;
    margin: auto;
    padding: 0.3rem;
    margin-bottom: 1rem;
    width: 13rem;
}

.button-wrapper {
    grid-column-start: 2;
    grid-row-start: 6;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.btn.btn-outline-secondary {
    margin-right: 5px;
    width: 140px;
}

.btn.btn-outline-secondary2 {
    margin-left: 5px;
    width: 140px;
}

.drink-information-library {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(177px, 2fr));
    grid-column-gap: 1.3rem;
    grid-row-gap: 0;
    grid-row-start: 8;
    height: 340px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.drink-card {
    border: 2px solid black;
    margin: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.drink-name-library {
    color: var(--text-color);
    font-family: fredericka-the-greatest, serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 0.5rem;
    text-align: center;
    font-size: 100%;
    margin: auto;
}

.cocktail-image-library {
    width: 100%;
}