* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-background: #182026;
    --button-text-color: #182026;
    --text-color: #e1dfc5;
    --main-button-color: #d9763d;
    --game-button-color: #a0a603;
    --game-button-hover: #bfba73;
    --dropdown-background: #364c59;
    --card-color: #a65233;
    --main-button-hover: #f2aa52;
    --card-background: rgb(6, 7, 8);
}

body {
    background-color: var(--main-background);
}

main {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    row-gap: 20px;
}

.title {
    font-family: fredericka-the-greatest, serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 25px;
    margin-bottom: 15px;
    height: 20px;
    text-align: left;
}

.intro {
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--text-color);
    grid-column-start: 2;
    grid-row-start: 3;
    margin: auto;
    text-align: justify;
}

.intro.homepage {
    grid-row-start: span 2;
}

.homepage-buttons {
    grid-column-start: 2;
    grid-row-start: 6;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.homepage-buttons button {
    margin-bottom: 10px;
}

button {
    background-color: var(--main-button-color);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--button-text-color);
}

a button {
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--button-text-color);
}

button:hover {
    background-color: var(--main-button-hover);
}

.button {
    grid-column-start: 2;
    margin: auto;
    transition: .1s ease;
}

.start-game {
    background-color: var(--game-button-color);
    color: var(--button-text-color);
}

.start-game:hover {
    background-color: var(--game-button-hover);
    color: var(--button-text-color);
}

.drink-icon {
    grid-column-start: 2;
    margin: auto;
    height: 70px;
}

.drink-icon.icon1 {
    grid-row-start: 5;
}

.drink-icon.icon2 {
    grid-row-start: 7;
}


/*** Header ***/

ul {
    list-style: none;
}

.menu-list li a {
    text-decoration: none;
    color: var(--text-color);
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
}

.menu-list li:hover {
    background-color: var(--main-background);
}

.menu-list li {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.menu {
    background-color: var(--dropdown-background);
    height: 235px;
    width: 100%;
    position: absolute;
    top: -235px;
    overflow: hidden;
    transition: 0.5s ease;
    z-index: 2;
}

.menu-list {
    display: block;
    text-align: center;
    margin-top: 2.5rem;
}

.active {
    transform: translateY(235px);
    transition: 0.5s;
}


/*** Hamburger Animation ***/

.hamburger-menu {
    background-color: transparent;
    height: 40px;
    width: 40px;
    position: absolute;
    top: -25px;
    right: 10px;
    cursor: pointer;
    z-index: 5;
    display: flex;
}

.hamburger-menu:hover {
    background-color: transparent;
}

.hamburger-line {
    fill: none;
    stroke: var(--text-color);
    stroke-width: 6;
    z-index: 10;
    height: 100px;
    width: 100px;
    transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: 134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: 30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: 134;
    stroke-width: 6;
}


/*** Cocktail generator ***/

.drink-information {
    grid-column-start: 2;
    grid-row-start: 7;
    grid-row-end: 8;
    margin: auto;
    width: 100%;
    height: 340px;
}

.drink-ingredient {
    color: var(--text-color);
    display: block;
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
}

#drink-name {
    color: var(--text-color);
    font-family: fredericka-the-greatest, serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 0.5rem;
    text-align: left;
}

#drink-recipe {
    color: var(--text-color);
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-bottom: 20px;
}

#cocktail-image {
    width: 100%;
}

#ingredient-title {
    color: var(--text-color);
    display: block;
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
}

#ingredient-description {
    color: var(--text-color);
    display: block;
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
}


/*** Style Cocktail generator ***/

#generator {
    grid-row-start: 5;
}

#library {
    grid-row-start: 9;
}


/*** Style Game Site ***/

.drink-icon.bomb-icon {
    height: 150px;
    grid-row-start: 5;
}

.button.start-game {
    grid-row-start: 7;
    grid-row-start: 9;
}


/*** Style Game Site ***/

.drink-icon.bomb-icon {
    height: 150px;
    grid-row-start: 5;
}

.button.start-game {
    grid-row-start: 7;
}


/*** Cocktail library ***/

.form-control {
    grid-column-start: 2;
    grid-row-start: 4;
    margin: auto;
    padding: 0.3rem;
    margin-bottom: 1rem;
    width: 13rem;
}

input[type='text'],
.form-control {
    font-size: 16px;
}

.button-wrapper {
    grid-column-start: 2;
    grid-row-start: 5;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.btn.btn-outline-secondary {
    margin-right: 5px;
    width: 135px;
}

.btn.btn-outline-secondary2 {
    margin-left: 5px;
    width: 135px;
}

.drink-information-library {
    display: grid;
    margin-left: 5px;
    margin-right: 5px;
    grid-template-columns: repeat(auto-fit, minmax(177px, 2fr));
    grid-row-start: 8;
    grid-column-start: 1;
    grid-column-end: 4;
}

.drink-card {
    background-color: var(--card-background);
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    transition: .3s ease;
    /* box-shadow: 20px 20px 60px #141b20, -20px -20px 60px #1c252c; */
}

.drink-card:hover {
    transform: scale(1.025);
}

.title-wrapper {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.drink-name-library {
    color: var(--text-color);
    font-family: fredericka-the-greatest, serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 0.5rem;
    text-align: center;
    font-size: 100%;
    margin: auto;
}

.cocktail-image-library {
    width: 100%;
}


/* Popup */

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.close {
    color: var(--text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 5px;
    transition: 0.5 ease;
}

.close:hover,
.close:focus {
    color: rgb(150, 148, 148);
    text-decoration: none;
    cursor: pointer;
}

.input_div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 50vh;
    border-radius: 20px;
    background-color: var(--dropdown-background);
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.library-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-height: 90vh;
    border-radius: 20px;
    background-color: var(--card-background);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: scroll;
    overflow-x: hidden;
}

.drink-modal .title-wrapper .drink-name-library {
    font-size: 1.5rem;
    padding-left: 25px;
    padding-right: 25px;
}

.drink-modal h3,
.drink-modal h4 {
    padding-left: 20px;
    padding-right: 20px;
}

.grid-wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 2;
}

.game-question {
    margin: auto;
    grid-column: span 2;
    grid-row-start: 3;
    font-family: poppins, sans-serif;
    /* font-weight: 300; */
    font-style: normal;
    color: var(--text-color);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.game-bomb-icon {
    height: 100px;
    margin: auto;
    grid-column: span 2;
    grid-row-start: 2;
}

.button-true {
    background-color: var(--game-button-color);
    grid-column: 1;
    grid-row-start: 4;
}

.button-true:hover {
    background-color: var(--game-button-hover);
}

.button-false {
    grid-column: 2;
    grid-row-start: 4;
}

.button-true,
.button-false {
    margin: auto;
    width: 120px;
    height: 40px;
}

.game-over-text {
    margin: auto;
    grid-column: span 2;
    grid-row-start: 3;
    font-family: poppins, sans-serif;
    font-style: normal;
    color: var(--text-color);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
    font-size: 2rem;
}

.button-restart {
    display: none;
    margin: auto;
    grid-column: span 2;
    grid-row-start: 4;
}


/* Media Query */

@media screen and (min-width: 481px) {
    main {
        grid-template-columns: 20% 1fr 20%;
        row-gap: 20px;
    }
    .drink-information-library {
        grid-column-start: 2;
        grid-column-end: 2;
    }
}

@media screen and (min-width: 768px) {
    .library-modal {
        width: 50vw;
    }
    .drink-information {
        display: grid;
        grid-template-columns: 40% 60%;
        column-gap: 20px;
    }
    .drink-information #drink-name {
        grid-column-start: span 2;
    }
    .drink-information #cocktail-image {
        grid-column-start: 1;
    }
    .recipe-wrapper {
        grid-column-start: 2;
    }
    .description-wrapper {
        grid-column-start: span 2;
    }
    .button-true,
    .button-false {
        width: 200px;
        height: 60px;
        font-size: 1.2rem;
    }
    .button-true {
        margin-right: 15px;
    }
    .button-false {
        margin-left: 15px;
    }
    .game-question {
        font-size: 1.2rem;
        margin-left: 30px;
        margin-right: 30px;
    }
    .menu {
        width: 235px;
        min-height: 280px;
        height: 30%;
        position: fixed;
        top: 0;
        right: calc(0% - 235px);
        transition: 0.5s ease;
        z-index: 2;
    }
    .menu-list {
        margin-top: 3.5rem;
    }
    .active {
        transform: translateX(-235px);
        transition: 0.5s;
    }
}

@media screen and (min-width: 1024px) {
    main {
        row-gap: 30px;
    }
    .homepage-buttons {
        flex-direction: row;
    }
    .homepage-buttons button {
        margin-left: 10px;
        margin-right: 10px;
    }
    .library-modal {
        width: 40vw;
    }
    .drink-icon {
        height: 100px;
    }
}


/*481px — 768px: iPads,
Tablets 769px — 1024px: Small screens,
laptops 1025px — 1200px: Desktops,
large screens
*/